<div>
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-primary" asp-area="" asp-page="">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-primary" asp-area="" asp-page="/Usuarios/Create">Registrar</a>
        </li>
    </ul>
</div>